section {
  padding: 0 1.5rem;
  @include flex-center(column);
}

.wrapper {
  max-width: 400px;
}

.info {
  padding: 5rem 0 2.5rem 0;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    padding-bottom: 1.13rem;
    letter-spacing: -1px;
    color: $dark-magenta;
  }

  p {
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.5px;
    color: $dark-gray;
  }
}

.reviews {
  @include grid-center();
  gap: 1rem;

  .review {
    width: 100%;
    background-color: #f7f2f7;
    height: 4.875rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: $dark-magenta;
    @include flex-center(column);

    .stars {
      @include grid-center();
      grid-auto-flow: column;
      gap: 8.45px;
      margin-bottom: 1rem;
    }
  }
}

.cards {
  @include grid-center();
  padding: 3.125rem 0 6.25rem 0;
  gap: 1rem;

  .card {
    border-radius: 0.5rem;
    background-color: $dark-magenta;
    color: $white;
    width: 100%;
    height: 248px;
    padding: 2rem;

    @media only screen and (max-width: 320px) {
      padding: 1.5rem;
    }

    .user {
      display: flex;
      font-size: 0.8rem;
      padding: 0.5rem 0 1.8rem 0;

      .user-info {
        padding-left: 1.4rem;
      }

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .name {
        font-weight: 700;
      }

      .status {
        color: $soft-pink;
      }
    }

    .comment {
      font-size: 0.8rem;
      line-height: 1.3rem;
      letter-spacing: -0.2px;
      font-weight: 500;
    }
  }
}

@media only screen and (min-width: 1440px) {
  section {
    display: flex;
    padding: 0;
  }

  .wrapper {
    max-width: 100%;
    height: 100vh;
    @include flex-center(column);
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    width: 100%;
  }

  .info {
    padding: 0;
    max-width: 445px;
    text-align: left;

    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  .reviews {
    @include flex-center(column);
    align-items: flex-end;

    .review {
      @include flex-center(row);
      width: 445px;
      height: 56px;

      .stars {
        margin-bottom: 0;
        margin-right: 2rem;
      }

      &:nth-child(1) {
        margin-right: 6rem;
      }
      &:nth-child(2) {
        margin-right: 3rem;
      }
    }
  }

  .cards {
    grid-auto-flow: column;
    gap: 1.87rem;
    padding: 0;
    align-items: end;

    .card {
      height: 234px;
      width: 350px;

      &:nth-child(1) {
        margin-bottom: 2rem;
      }
      &:nth-child(2) {
        margin-bottom: 1rem;
      }
    }
  }
}
