$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-gray: hsl(303, 10%, 53%);
$light-gray: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  background-image: url(../../images/bg-pattern-top-mobile.svg),
    url(../../images/bg-pattern-bottom-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 376px) {
  body {
    background-image: url(../../images/bg-pattern-top-desktop.svg),
      url(../../images/bg-pattern-bottom-desktop.svg);
  }
}

ul {
  list-style: none;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
